<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>531426281446-p71879fkersrr8ashe5dt6a92hirun21.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.531426281446-p71879fkersrr8ashe5dt6a92hirun21</string>
	<key>API_KEY</key>
	<string>AIzaSyA3asonrZuasiLeGy5VFAA6uptgccotSPY</string>
	<key>GCM_SENDER_ID</key>
	<string>531426281446</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gusadi.Muzzez-School</string>
	<key>PROJECT_ID</key>
	<string>muzzezschool-2d693</string>
	<key>STORAGE_BUCKET</key>
	<string>muzzezschool-2d693.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:531426281446:ios:c2d48ea09dbb2c14c3b827</string>
</dict>
</plist>